<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
</head>
<body>

    <header>
        <a class="home_link" href="/"><img src="images/logo-mercado-liebre.svg" alt="logo"></a> 
        <div class="search">
            <input id="input_box" type="text" placeholder="Buscar productos, marcas">
            <i style="margin-left: 3px;" class="fas fa-search"></i>
        </div>

        <div class="under_search_bar">
            <h2>Compra en cuotas y sin tarjeta de credito</h2>
            <i class="fas fa-credit-card"></i>
        </div>
        

        <nav>
            <ul class="nav_menu_home1">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="nav_menu_home2">
                <li><a href="/register">Crea tu cuenta</a> <i class="fas fa-user-circle"></i></i> </li>
                <li><a href="/sign_in">Ingresa</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-cart"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <div class="banner">
        <img src="images/img-home-banner.jpg" alt="">
    </div>

    <main>
        

        <section class="last_viewed">
            <h3>Basado en tu última vista</h3>
            <div class="products">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="description">
                        <i class="fas fa-truck" id="truck"></i>
                        <div class="price_discount">
                            <p class="precios">$6.770</p>
                            <p class="percentage">40% OFF</p>
                        </div>
                        <h4 class="nombre">Cafetera Moulinex</h4>
                    </div>    
                </article>

                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="laptop">
                    <div class="description">
                        <i class="fas fa-truck" id="truck"></i>
                        <div class="price_discount">
                            <p class="precios">$230.000</p>
                            <p class="percentage">20% OFF</p>
                        </div>
                        <h4 class="nombre">MacBook Pro 2019</h4>
                    </div>   
                </article>

                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung cellphone">
                    <div class="description">
                        <i class="fas fa-truck" id="truck"></i>
                        <div class="price_discount">
                            <p class="precios">$70.500</p>
                            <p class="percentage">10% OFF</p>
                        </div>
                        <h4 class="nombre">Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="samsung TV">
                    <div class="description">
                        <i class="fas fa-truck" id="truck"></i>
                        <div class="price_discount">
                            <p class="precios">$23.200</p>
                            <p class="percentage">5% OFF</p>
                        </div>
                        
                        <h4 class="nombre">SmartTV Samsung 43"</h4>
                    </div>                    
                </article>
            </div>
            
        </section>

        <section class="ofertas">
            <h3>Ofertas</h3>
            <div class="products">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="description">
                        <i class="fas fa-truck" id="truck"></i>
                        <div class="price_discount">
                            <p class="precios">$6.770</p>
                            <p>40% OFF</p>
                        </div>
                        <h4 class="nombre">Cafetera Moulinex</h4>
                    </div>
                    
                </article>
                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="laptop">
                    <div class="description">
                        <i class="fas fa-truck" id="truck"></i>
                        <div class="price_discount">
                            <p class="precios">$230.000</p>
                            <p>20% OFF</p>
                        </div>
                        <h4 class="nombre">MacBook Pro 2019</h4>
                    </div>
                    
                </article>
                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung cellphone">
                    <div class="description">
                        <i class="fas fa-truck" id="truck"></i>
                        <div class="price_discount">
                            <p class="precios">$70.500</p>
                            <p>10% OFF</p>
                        </div>
                        <h4 class="nombre">Samsung Galaxy S10</h4>
                    </div>
                    
                </article>
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="samsung TV">
                    <div class="description">
                        <i class="fas fa-truck" id="truck"></i>
                        <div class="price_discount">
                            <p class="precios">$23.200</p>
                            <p>5% OFF</p>
                        </div>
                        <h4 class="nombre">SmartTV Samsung 43"</h4>
                    </div>
                    
                </article>
                
            </div>
            
        </section>
    </main>

    <footer>
        <div class="footer_container">
            <div class="footer_element">
                <i class="far fa-credit-card"></i>
                <p>
                    Pagá con tarjeta o en efectivo
                    Con Mercado Liebre Cash, tenés cuotas sin interés 
                    con tarjeta o efectivo en 
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>

            <div class="footer_element">
                <i class="fas fa-gift"></i>
                <p>
                    Envío gratis desde $ 2.500
                    Solo por estar registrado
                    en Mercado Liebre
                    tenés envíos gratis en miles de productos. Es
                    un beneficio de Mercado Puntos
                </p>
            </div>

            <div class="footer_element">
                <i class="fas fa-user-check"></i>
                <p>
                    Seguridad, de principio a fin
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre,
                    o hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </div>
        </div>
    </footer>
    
</body>
</html>